import {{ python_project_name }}


def test_{{ python_project_name }}_version():
    from importlib.metadata import version

    assert {{ python_project_name }}.__version__ == version("{{ python_project_name }}")
