# {{ project_name }}

{{ project_description }}

```{admonition} How to release your code?
:class: tip

Use this copier template: [dfm/copier-simple-python](https://github.com/dfm/copier-simple-python)
```

## Table of contents

```{toctree}
:maxdepth: 2
:caption: User Guide

installation
```

```{toctree}
:maxdepth: 2
:caption: Tutorials

tutorials/getting-started
```

## Authors & license

Copyright {{ copyright_year }} {{ copyright_holder }}

Licensed under the {{ copyright_license }} license (see `LICENSE`).
