(installation)=

# Installation Guide

## Using pip

The easiest way to install the most recent stable version of {{ project_name }}
is with [pip](https://pip.pypa.io):

```bash
python -m pip install {{ project_name }}
```
{% if project_source_repository %}
## From source

Alternatively, you can get the source:

```bash
git clone {{ project_source_repository }}
cd tinygp
python -m pip install -e .
```
{% endif %}
## Tests

If you installed from source, you can run the unit tests. From the root of the
source directory, run:

```bash
python -m pip install nox
python -m nox -s tests
```
